*{
   margin: 0; 
   padding: 0;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, #00FF00 50.50%, #0000FF 49.50%);
    height: 9vh;
}
ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
nav{
    width: 80%;
}
a {
    color: #0400ff9d;
    text-decoration: none;
}
li{
    list-style: none;
    font-size: 24px;
}
body{
    background-color: #ffc400;
}   
.jos{
    margin-top: 20px;
    text-align: center;
}
article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.img{
    width: 20vh;
    border-radius:25%;

}
.fon{
    font-size: 6vh;
}